:root {
    /* font sizes */
    --secondaryHeader: 0.75rem;

    /* colors */
    --borderColor: rgb(229, 229, 229);
    --highlightColor: rgb(219, 51, 52);
    --secondaryColor: #CC4949;
    --description: #333;
    --buttonColor: #0787ca;

    /* spacing */
    --padding: 8px;
}

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    height: 100%;
}

html {
    /* Base styles go here */
    text-size-adjust: 100%;
    display: block;
    height: 100%;
    font-size: 1rem;
}

body {
    font-family: 'Libre Baskerville', serif;
    color: var(--description);
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Forum', serif;
    font-weight: 400;
}

hr {
    margin: 3.5rem 0;
    /* background-color: rgb(229, 229, 229); */
    border-color: rgb(229, 229, 229);
}

header {
    position: sticky;
    top: 0;
    background: #fff;
    text-align: center
}

header img {
    min-width: 15%;
    padding: 2rem;
}

.mobile-menu {
    float: left;
    display: none;
}

nav {
    border-top: 0.063rem solid var(--borderColor);
    border-bottom: 0.063rem solid var(--borderColor);
    padding: var(--padding);
}

nav a {
    text-decoration: none;
    padding: 0 var(--padding);
    font-size: 0.75rem;
    color: #000;
    font-size: var(--secondaryHeader);
    font-weight: bold;
    font-family: 'Hanken Grotesk', sans-serif;
}

.secondary-navigation {
    position: absolute;
    right: 0;
    top: 30%;
    display: flex;
    text-decoration: none;
    padding: 0 var(--padding);
    font-size: 0.75rem;
    color: #000;
    font-size: var(--secondaryHeader);
    font-weight: bold;
    font-family: 'Hanken Grotesk', sans-serif;
    align-items: center;
}

.secondary-navigation a {
    margin-right: 1rem;
}

.secondary-navigation .button {
    background: var(--buttonColor);
    border-radius: 2px;
    color: #fff;
    display: block;
    font-family: "Graphik Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: 500;
    height: 100%;
    line-height: 30px;
    text-align: center;
    text-decoration: inherit;
    padding: 0 15px;
}

.main-container,
.inner-footer {
    max-width: 90rem;
    margin: 0 auto;
}


#home-section_1 {
    display: flex;
    flex-direction: row;
}

.flex-container {
    display: flex;
    flex-direction: column;
    flex-basis: 80%;
}

.flex-container.third {
    flex-basis: 20%;
    margin: 0 5px;
}

.flex-row {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-grow: 1;
}

.news-box {
    width: 100%;
    padding: 1rem;
}

.third .news-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.third .news-box .news-heading {
    font-size: 1.063rem;
}

.third .news-box img {
    max-width: 30%;
    max-height: 30%;
    order: 2;
    flex-basis: 30%;
}

#box2 {
    margin-top: -25%;
}

#box4 {
    display: flex;
    align-items: center;
}

#box4 img {
    max-width: 30%;
    max-height: 30%;
    order: 2;
}

.flex-row .news-box:first-child {
    width: 40%;
}

.news-box img {
    max-width: 100%;
    object-fit: cover;
}

.news-box .news-tag {
    font-size: 0.75rem;
    text-transform: uppercase;
    color: var(--highlightColor);
}

.news-heading {
    font-size: 1.375rem;
}

.news-heading.primary {
    font-size: 2.25rem;
}

.news-content {
    font-size: 1.063rem;
    margin-bottom: 0.5rem;
}

.news-author {
    font-size: 0.938rem;
    font-weight: 600;
}

.news-container {
    flex-basis: 70%;
}

.section-heading {
    text-align: center;
    font-size: 1.75rem;
}

.text-center {
    text-align: center;
}

#home-section_2 .flex-row .news-box,
#home-section_3 .flex-row .news-box {
    width: 100%;
}

#home-section_3 .news-box img {
    width: 80%;
}

.heading-img {
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 3rem;
}

.heading-img img {
    width: 20%;
}

.border-top {
    border-top: 0.063rem solid var(--borderColor);
}

.border-bottom {
    border-bottom: 0.063rem solid var(--borderColor);
}

.border-right {
    border-right: 0.063rem solid var(--borderColor);
}

.border-left {
    border-left: 0.063rem solid var(--borderColor);
}

footer {
    background-color: rgb(18, 18, 18);
}

footer hr {
    margin: 2rem 0;
}

.footer-logo {
    text-align: center;
    padding-top: 2rem;
}

.footer-columns {
    display: flex;
    justify-content: space-between;
}

.footer-links,
form {
    width: 28%;
}

.footer-links ul {
    list-style-type: none;
}

.footer-links ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 0.875rem;
    font-family: 'Hanken Grotesk', sans-serif;
}

form h1 {
    color: #fff;
}

.copyright-statement {
    font-size: 0.625rem;
    padding-bottom: 2rem;
    color: #fff;
}

.feedback-input, select {
    color: white;
    font-weight: 500;
    font-size: 1rem;
    border-radius: 5px;
    line-height: 22px;
    background-color: transparent;
    border: 2px solid var(--secondaryColor);
    transition: all 0.3s;
    padding: 0.875rem;
    margin-bottom: 1rem;
    width: 100%;
    outline: 0;
}

select{
    background-color: rgb(18, 18, 18);
}

.feedback-input:focus {
    border: 2px solid var(--secondaryColor);
}

fieldset{
    padding: 1rem;
    margin: 0;
}

legend{
    color:#fff;
}

textarea {
    height: 150px;
    line-height: 150%;
    resize: vertical;
}

[type="submit"],
[type="reset"] {
    width: 100%;
    background: var(--secondaryColor);
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    color: #fff;
    font-size: 1.25rem;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: all 0.3s;
    margin-top: -4px;
    font-weight: 700;
    margin: 0.5rem 0;
}

form label {
    color: #fff;
}

[type="submit"]:hover {
    background: var(--secondaryColor);
}

/* For small screens */
@media (max-width: 768px) {
    .flex-row {
        flex-direction: column;
    }

    nav {
        display: none;
    }

    .mobile-menu {
        display: block;
        margin-top: 2.188rem;
    }

    #box2 {
        margin-top: unset;
    }

    .flex-row .news-box:first-child {
        width: 100%;
    }

    #home-section_1 {
        flex-direction: column;
    }

    #box3 {
        order: -2;
    }

    #box4 {
        display: block;
    }

    #box4 img {
        max-width: 100%;
        max-height: 100%;
        order: 1;
    }

    #home-section_2 .news-box img,
    #home-section_3 .news-box img {
        order: 2;
        max-width: 30%;
        max-height: 30%;
        flex-basis: 30%;
    }

    #home-section_2 .news-box,
    #home-section_3 .news-box {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    #home-section_2 .news-container,
    #home-section_3 .news-container {
        padding: 0 0.5rem;
        text-align: left;
    }

    .footer-links,
    form {
        width: 100%;
    }

    .footer-columns {
        display: block;
    }

    form {
        padding: 1rem;
    }

    .secondary-navigation {
        display: none;
    }

}